{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idmessage</th>
                <td>{{ entity.idMessage }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ entity.contenu }}</td>
            </tr>
            <tr>
                <th>Idsender</th>
                <td>{{ entity.idsender }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('message_edit', { 'id': entity.idMessage }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
